
.description-right p {
    font-size: 17.5px;
    line-height: 34px;
    letter-spacing: -0.005em;
    color: #7C7C7C;
    margin-bottom: 40px;
    font-weight: normal;
    padding-left: 60px;
}

.description-right h2 {
    font-style: italic;
    font-size: 17.5px;
    line-height: 34px;
    letter-spacing: -0.005em;
    color: #7C7C7C;
    margin-bottom: 40px;
    font-weight: normal;
    padding-left: 60px;
}

.container.parallax-container.form-banner.hero p {
    max-width: 500px;
}


.form-banner.hero .error {
    text-align: left;
    margin-top: 2px;
    color: red;
}

.react-tel-input .country-list .country {
    text-align: left;
}

.form-banner-inner .form-panel input {
    padding-left: 45px;
}

.ajs-message.ajs-error.ajs-visible {
    color: white;
}

.label-alertify {
    margin-bottom: 9px;
}

.pretty .state label:before {
    border-color: #bdc3c7;
}

.pretty .state label:after, .checkbox-panel .state img, .pretty .state label:before {
    width: 30px !important;
    height: 30px !important;
    margin-top: 15px;
}

.pretty .state label {
    padding-left: 1.75em;
    color: #737B80;
    font-size: 14px;
    cursor: pointer;
    line-height: 15px;
}

.pretty.p-svg.p-plain {
    width: 30%;
}

.pretty .state label {
    white-space: pre-wrap;
}

.pretty.p-svg .state .svg {
    margin-top: 15px;
}

.pretty.p-svg input:checked ~ .state .svg {
    margin-top: 15px;
}


input[type=checkbox] + .accord-text:before {
    content: '';
    width: calc(1em + 2px);
    height: calc(1em + 2px);
    display: block;
    box-sizing: border-box;
    border-radius: 0;
    border: 1px solid transparent;
    z-index: 0;
    position: absolute;
    left: 0;
    top: calc((0% - (100% - 1em)) - 8%);
    background-color: transparent;
}

input[type=checkbox]:checked + .accord-text:before {
    content: '';
    width: calc(1em + 2px);
    height: calc(1em + 2px);
    display: block;
    box-sizing: border-box;
    border-radius: 0;
    border: 1px solid transparent;
    z-index: 0;
    position: absolute;
    left: 0;
    top: calc((0% - (100% - 1em)) - 8%);
    background-color: transparent;
}


.pretty.p-svg.p-plain {
    text-align: center;
}

.art-name {
    margin-bottom: .5rem;
}

.art-details p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.gallery-content p {
    text-align: center !important;
}

.gallery-content .Beauty {
    font-size: 15.5px;
}

.checkbox-panel .pretty .state label {
    text-indent: 0;
    padding-left: 40px;
}

.checkbox-panel .pretty.p-svg.p-plain {
    text-align: left;
}

